@import '{}/node_modules/react-color-picker/style/index';
figure.color {
	padding: 1rem;
	margin: 0;
	position: relative;

	&.color--dark {
		color: $md-light-text-primary;
	}

	&.color--light {
		color: $md-dark-text-primary;
	}

	input[type=text] {
		color: inherit;
		background: none;
	}

	.react-color-picker {
		position: absolute;
		top: 3rem;
		left: 1rem;
	}
}
