// This helpers file contains CSS declarations
// for components relating to, but not attached
// to a particular object

ul {
  &.credential,
  &.email-address,
  &.physical-address,
  &.phone-number,
  &.color,
  &.typeface,
  &.font,
  &.property,
  &.client,
  &.client-property,
  &.service,
  &.person {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &.readonly {
      padding-left: 1.5rem;
      text-indent: -1.5rem;

      li {
        margin-bottom: 1rem;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      i,
      span {
        text-indent: 0;
      }

      i {
        display: inline-block;
        width: 1.5rem;
      }
    }
  }

  &.client,
  &.property {
    padding: 0 1rem;

    li {
      height: 2rem;
      padding: .5rem 0;
    }

    a {
      text-decoration: none;
    }
  }
}



.physical-address.view {
  display: flex;
  flex-flow: row wrap;

  input {
    display: inline-block;
    flex: 1 1 100%;
  }

  span {
    display: inline-block;
    margin-right: .25rem;
  }
}

.icon-plaintext {
  cursor: copy;
  height: 1rem;
  width: 1.618rem;
}


.bert-alert.success {
  background: $md-green-700;
}
